@CHARSET "UTF-8";

fieldset {
	margin: 15px 10px;
	width: 600px;
}

fieldset legend {
	font-weight:bold;
	font-size: 18px;
	color: purple;
}

label.tit {
	font-weight: bold;
	width: 80px;
	float: left;
}

ul li {
	list-style: none;
	margin-bottom: 10px;
}

div.centered {
	text-align: center;
}